body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #fcf9ef;
  color: #443d3d;
}

.container {
  display: flex;
  padding: 40px;
}

.sidebar {
  width: 220px;
  padding-right: 40px;
  text-align: center;
}

.baby-icon {
  width: 300px;
  margin-bottom: 20px;
}

fieldset {
  border: none;
  margin: 20px 0;
}

fieldset legend {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

label {
  display: block;
  margin: 6px 0;
}

.years {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #eae3d9;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

main {
  flex: 1;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.search-box input[type="text"] {
  width: 80%;
  margin: 0 auto 30px;
  display: block;
  padding: 12px;
  border: 2px solid #eae3d9;
  border-radius: 20px;
  font-size: 16px;
  background-color: #fefaf3;
}

.search-box button {
  background-color: #f3eeda;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-box button:hover {
  background-color: #e0d8c0;
}

.info-box {
  background-color: #ede2d2;
  padding: 30px;
  border-radius: 24px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.info-box.result1 {
  background-color: #89CFF0;
  padding: 30px;
  border-radius: 24px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.info-box.result2 {
  background-color: #f4c2c2;
  padding: 30px;
  border-radius: 24px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}